@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

.content-container {
    width: 100vw;
    height: 1008px;
    top: 72px;
    background: rgba(23, 39, 70, 1);
    background-image: url("../../assets/BackGround.png");
    background-size: cover;
}

.main-lookup {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 48px;
    position: absolute;
    width: auto;
    height: 708px;
    left: 144px;
    top: 72px;
    border: 1px solid white;
}

.header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 125%;
    /* identical to box height, or 70px */
    color: #FFFFFF;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    border: 1px solid white;
  }

  .header2 {
    width: 243px;
    /* height: 80px; */
    font-family: 'Roboto', sans-serif;
    /* font-style: normal; */
    font-weight: 600;
    font-size: 64px;
    line-height: 125%;
    display: flex;
    align-items: center;
    /* letter-spacing: -0.01em; */
    color: #FFFFFF;
    position: relative;
  }

  .header2::before {
    content: "";
    position: absolute;
    width: 191px;
    height: 8px;
    left: 54px;
    top: 37px;
    background: #FF0000;
  }