/* Logo.css */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 38px;
  line-height: 45px;
  /* text-align: center; */
  vertical-align: middle;
  letter-spacing: 3%;
  background: linear-gradient(#0096FF 42.14%, #0048FF 96.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
